*.a
*.wsdt
*.wspos
*.pbi
*.cout
*.pbd
*.browse
*.tmp
*.tmp.c
*.tmp.h
*.lst
*.o
*.dep
*.dbgdt
*.dni
*.cspy.bat
/prj/hal/olimex_stm32_p407/iar740/settings
/prj/osal/cm4f/iar740/settings
/prj/osal/cm4f/iar740/*.ewt
/prj/rtos/cm4f/iar740/settings/*.crun
/prj/rtos/cm4f/iar740/settings/*.xcl
